<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>143507377283-uibe0eqqf4htlreg2l3g81bng5ejh4ji.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.143507377283-uibe0eqqf4htlreg2l3g81bng5ejh4ji</string>
	<key>API_KEY</key>
	<string>AIzaSyBtiOeqV0_M4RYQfB_30qsVwyoo-tbVEk8</string>
	<key>GCM_SENDER_ID</key>
	<string>143507377283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vmg.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>vmgrand-b3c47</string>
	<key>STORAGE_BUCKET</key>
	<string>vmgrand-b3c47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143507377283:ios:240969bf3bcd6d15b25fb6</string>
</dict>
</plist>